doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionSteps
      .container
        h1.cover-heading Getting started is easy.
        .row
          .col-md-4
            img(src="assets/grandma.png")
            h4 1. Sign up
            p You can sign up on your mobile phone. We'll pair you up with a great interviewer!
          .col-md-4
            img(src="assets/grandma.png")
            h4 2. Pick a time
            p Once you're paired, select an interview time that works with your schedule.
          .col-md-4
            img(src="assets/grandma.png")
            h4 3. Pick up the phone
            p At the scheduled time, just pick up the phone and your interviewer will take it from there!

    section#sectionScreenshots
      .container
        .row
          .col-md-8
            h1 Heading
            p description
          .col-md-4
            img(src="assets/phone0.png")
        .row
          .col-md-4
            img(src="assets/phone1.png")
          .col-md-8
            h1 Heading
            p description
        .row
          .col-md-8
            h1 Heading
            p description
          .col-md-4
            img(src="assets/phone2.png")
        .row
          .col-md-4
            img(src="assets/phone3.png")
          .col-md-8
            h1 Heading
            p description
        .row
          .col-md-8
            h1 Heading
            p description
          .col-md-4
            img(src="assets/phone5.png")

    include ../includes/footer