doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionSteps
      .container
        h1.section-lead Getting started is easy.
        .row
          .col-md-3
            i.fa.fa-pencil
            h4 1. Sign up
            p Choose a loved one whose stories you want to capture.
          .col-md-3
            i.fa.fa-user
            h4 2. Pair interviewer
            p We'll pair you up with a great interviewer!
          .col-md-3
            i.fa.fa-calendar-o
            h4 2. Pick a time
            p Select an interview time that works with your schedule.
          .col-md-3
            i.fa.fa-phone
            h4 3. Pick up the phone
            p At the scheduled time, just pick up the phone and your interviewer will take it from there!

    section#sectionScreenshots
      .container
        .row
          .col-md-8
            h1 Sign up how you want.
            p Don't worry about creating or remembering passwords. You can sign up using your favorite network.
          .col-md-4
            img(src="assets/phone0.png")
        .row
          .col-md-4
            img(src="assets/phone1.png")
          .col-md-8
            h1 We'll pair you up.
            p Tell us a little about your loved one and we'll pair them up with a great interviewer.
        .row
          .col-md-8
            h1 The best stories.
            p Your interviewer is trained to help capture great stories. Family members can also submit questions and topics.
          .col-md-4
            img(src="assets/phone2.png")
        .row
          .col-md-4
            img(src="assets/phone3.png")
          .col-md-8
            h1 Convenient scheduling.
            p Select a time for your next storytelling call. We'll make sure to send a reminder so you don't forget.
        .row
          .col-md-12
            h1 Participate from anywhere.
            p Family members can call in from anywhere to participate in the conversation.
            img(src="assets/familymap.png")
        .row
          .col-md-8
            h1 Great stories forever.
            p All of your stories are privately available for your family to enjoy.
          .col-md-4
            img(src="assets/phone5.png")

    include ../includes/footer