doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionSteps.text-invert
      .container
        h1.section-lead Getting started is easy.
        .row
          .col-md-3
            i.fa.fa-pencil
            h3 1. Sign Up
            p Tell us a little about your loved one to get started.
          .col-md-3
            i.fa.fa-user
            h3 2. Get Your Interviewer
            p We'll pair your family up with one of our amazing interviewers.
          .col-md-3
            i.fa.fa-calendar-o
            h3 2. Get Ready
            p Schedule your call and send questions directly from the app.
          .col-md-3
            i.fa.fa-phone
            h3 3. Capture Stories. Connect the Family.
            p We'll call you at the scheduled time. The entire family can join and share. It's all saved on the app.
        a(href="signup.html").btn.btn-lg.btn-default Sign up for an exclusive invitation

    section#sectionScreenshots
      .container
        .row
          .col-md-8
            h1 Sign up how you want.
            p Don't worry about creating or remembering passwords. You can sign up using your favorite network.
          .col-md-4
            img(src="assets/phone0.png")
        .row
          .col-md-4.full
            img(src="assets/phone1.png")
          .col-md-8
            h1 Get your interviewer.
            p Tell us a little about your loved one and we'll pair them up with a great interviewer.
          .col-md-4.mobile
            img(src="assets/phone1.png")
        .row
          .col-md-8
            h1 Schedule your session.
            p Select a time for your next storytelling call. We'll make sure to send a reminder so you don't forget.
          .col-md-4
            img(src="assets/phone3.png")
        .row
          .col-md-4.full
            img(src="assets/phone2.png")
          .col-md-8
            h1 Send questions.
            p Your interviewer is trained to help capture great stories. Family members can also submit questions and topics.
          .col-md-4.mobile
            img(src="assets/phone2.png")
        .row
          .col-md-12
            h1 Participate from anywhere.
            p Family members can call in from anywhere to participate in the conversation.
            img(src="assets/familymap.png")
        .row
          .col-md-8
            h1 Save and share great stories.
            p All of your stories are privately available for your family to enjoy.
          .col-md-4
            img(src="assets/phone5.png")
        div.text-center
          a(href="signup.html").btn.btn-lg.btn-default Sign up for an exclusive invitation

    include ../includes/footer