doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionCover.text-invert
      .container
        .site-wrapper-inner
          .row
            .col-md-8.text-left
              h1.cover-heading Who is the oldest living member of your family?
              p.lead.
                Have you captured their life stories?
              a(href="signup.html").btn.btn-lg.btn-default Sign Up
            .col-md-4
              img(src="assets/grandma.png")

    section#sectionKim
      .container
        .row
          .col-md-8.text-left
            h1 Meet Kim. She can help.
            blockquote.
              "Today is March 17, 2014. It is 6:14PM and we are here with Jane Williams to tell her life stories."
            p.
              Kim is a member of our team of interviewers. She is a mother, a local journalist, and a big fan of NPR. She is passionate about preserving family stories and wants to listen.
            p.
              Your loved one gets paired with an interviewer like Kim based on their background and preferences.
            p.
              Then, we give Kim the tools to host great storytelling sessions. Additionally, the entire family is invited.
            a(href="signup.html").btn.btn-lg.btn-default Sign Up
          .col-md-4
            img(src="assets/interviewer.png")

    section#sectionEasy.text-invert
      .container
        h1.section-lead We make it easy.

    include ../includes/footer