doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionCover
      .container
        .site-wrapper-inner
          .row
            .col-md-8.text-left
              h1.cover-heading Enhancing resident life.
              p.lead.
                We make it easy for senior living residents to capture stories and connect with their families.
              a(href="#").btn.btn-lg.btn-default Learn More
            .col-md-4
              img(src="assets/grandma.png")

    section#sectionKim
      .container
        .row
          .col-md-8.text-left
            h1 Meet Kim
            p.lead.
              "Today is March 17, 2014. It is 6:14PM and we are here with Jane Williams to tell her life stories."
            p.
              Kim is a member of our team of interviewers. She is a mother, a social worker, and a big fan of NPR. She is passionate about preserving family stories and wants to listen.
            p.
              Your loved one gets paired with an interviewer like Kim based on their background and preferences.
            p.
              Then, we give Kim the tools to host great storytelling sessions. Additionally, the entire family is invited.
            a(href="#").btn.btn-lg.btn-default Learn More
          .col-md-4
            img(src="assets/interviewer.png")

    section#sectionEasy
      .container
        h1.section-lead We make it easy.

    include ../includes/footer