doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionCover.text-invert
      .container
        .site-wrapper-inner
          h2 Capturing Stories. Connecting Families.
          h1 One Call at a Time.
          img(src="assets/family3.png")
          p.lead.
            Your family has stories. Future generations will want to know them. LifeChat pairs your family with an interviewer to make sure those stories are captured.
          a(href="signup.html").btn.btn-lg.btn-default Sign up for an exclusive invitation


    section#sectionKim
      .container
        .row
          .col-md-8.text-left
            h1 Meet Kim. She can help.
            blockquote.
              "Hi Jane. I can't wait to hear your stories. Where did you grow up?"
            p.
              Kim is a member of our team of interviewers. She is a mother, a local journalist, and a big fan of NPR. She is passionate about preserving family stories and wants to listen.
            p.
              Your loved one gets paired with an interviewer like Kim based on their background and preferences.
            p.
              Then, we give Kim the tools to host great storytelling sessions. Additionally, the entire family is invited.
            a(href="signup.html").btn.btn-lg.btn-default Sign up for an exclusive invitation
          .col-md-4
            img(src="assets/interviewer.png")

    section#sectionWhy
      .container
        h1 Why LifeChat?
        p.lead.
          There are many ways to capture family stories. 
          Journals. Photo albums. Video. And even new apps. 
          But many of these solutions take time, can be isolating 
          and are hard to share and manage. Here are a few reasons 
          the LifeChat solution is changing how families capture 
          stories.
        .row
          .col-md-8
            h2 Storytelling is best done as a group.
            p.
              Thanksgiving dinner. A wedding. The holidays. The 
              best stories come out when the family is together, 
              chatting and having fun. LifeChat creates that opportunity 
              every month with a simple call that's all about 
              capturing stories.
          .col-md-4
            img(src="assets/family-dinnertable.png")
        .row
          .col-md-4
            img(src="assets/interviewer-question.png")
          .col-md-8
            h2 Questions make it easier.
            p.
              There are so many great stories but where do you 
              start? An interviewer takes the pressure off. They 
              ask great questions so all you need to do is answer.
        .row
          .col-md-8
            h2 The best stories come out over time.
            p.
              You set up the camera, click record and ask your loved 
              one to tell stories. That's a lot of pressure! Stories 
              come out over time. With LifeChat, your family participates 
              in a 30-min call each month and new stories always emerge.
          .col-md-4
            p image
        .row
          .col-md-4
            p image
          .col-md-8
            h2 The app and the interviewer connects generations.
            p.
              Technology has changed the way we communicate. Younger 
              generations want to text. Older generations want to talk. 
              LifeChat embraces both. Our interviewer and app gives 
              families the best of both worlds so they can capture 
              stories in a way that will be passed down for generations.


    include ../includes/footer