doctype html
html(lang="en")
  include ../includes/head

  body
    include ../includes/topnav
    
    #home.site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            .row
              .col-md-8.text-left
                h1.cover-heading Enhancing resident life.
                p.lead.
                  We make it easy for senior living residents to capture stories and connect with their families.
                a(href="#").btn.btn-lg.btn-default Learn More
              .col-md-4
                img(src="assets/grandma.png")
    section#sectionKim
      .container.marketing
        h1.section-lead Meet Kim
    section#sectionEasy
      .container.marketing
        h1.section-lead We make it easy.