doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section
      .container.text-left
        .row
          .col-md-4
            p [pricing image]
          .col-md-8
            h1 Pricing
            p lots of text
        h2 Frequently Asked Questions
        p list

    include ../includes/footer