doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionPricing
      .container.text-left
        .row
          .col-md-5
            img(src="assets/family-price.png")
          .col-md-1
          .col-md-6
            h1 Pricing
            h2 A private interviewer. A private family site. A family friendly price.
            ul
              li No contracts, month to month.
              li A personalized interviewer.
              li One 30 minute interview per month.
              li A private site for all your family stories.
              li Unlimited number of members.
              li Never lose your stories (even if you stop paying)
    
    section
      .container.text-left    
        h2 Frequently Asked Questions
        p list

    include ../includes/footer