doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionPricing.text-invert
      .container.text-left
        .row
          .col-md-8
            h1 A Family Friendly Price
            h2 A private interviewer. A private family site.
            ul
              li No contracts, month to month.
              li A personalized interviewer.
              li One 30 minute interview per month.
              li A private site for all your family stories.
              li Unlimited number of members.
              li Never lose your stories (even if you stop paying).
          .col-md-4
            img(src="assets/family3.png")
            h2 $25/month
            h5 no contracts, month to month
            a(href="signup.html").btn.btn-lg.btn-default Sign up for an invite

        include ../includes/w-seniorliving

    include ../includes/faq

    include ../includes/footer