doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section
      .container.text-left
        .row
          .col-md-7
            h1 Sign Up
            p lots of text
          .col-md-5
            include ../includes/mailchimp
    section
      .container.text-left
        h2 Frequently Asked Questions
        p list

    include ../includes/footer