doctype html
html(lang="en")
  include ../includes/header

  body
    include ../includes/topnav

    section#sectionSignup
      .container.text-left
        .row
          .col-md-7
            h1 First Call Free!
            p.
              While we're in Beta, you'll need an invitation to 
              join LifeChat. This process helps make sure your 
              family gets the best experience.
            p.
              Enter your contact information and we'll send you a 
              note when your account is ready.
            p.
              And, as a beta family, you'll get your first month 
              free and other exclusive deals!
          .col-md-5
            include ../includes/mailchimp
            
        include ../includes/w-seniorliving
    
    include ../includes/faq

    include ../includes/footer