@import "bootstrap-common.less";

/*
 * Globals
 */

/* Colors */
@turquoise: #27ADC5;
@blue: #74C0CF;
@salmon: #D17869;

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: @turquoise;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
body {
  color: #fff;
  text-align: center;
  /* box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}
h1 {
	font-family: 'Cardo', serif;
	font-size: 50px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
section {
	.container;
  .marketing;
  padding-top: 120px;
	padding-bottom: 120px;
}
.inner {
  padding: 30px;
}

/* Sections */
#sectionKim {
	background-color: @salmon;
}
#sectionEasy {
	background-color: @blue;
}
.section-lead {
	margin-bottom: 75px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

#sectionCover {
  .site-wrapper;

  .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }

  img {
    height: 275px;
    width: 275px;
  }
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;

  /* Center align the text within the three columns below the carousel */
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .masthead,
  .marketing {
    //width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}