section#sectionFAQ
  .container.text-left    
    h1.section-lead Frequently Asked Questions
    .row
      .col-md-4
        h4 What's the purpose of LifeChat?
        p.
          LifeChat has two goals. 1 - Help our loved ones capture 
          priceless stories for future generations. 2 - Make it 
          easy for families to connect in a meaningful and fun way. 
          We're passionate about capturing stories and connecting 
          generations!
      .col-md-4
        h4 Who are the interviewers?
        p.
          Our interviewers come from all walks of life with one 
          thing in common &#8212; they love capturing stories from 
          elders. Our interviewers are journalists, students, moms, 
          senior living experts... the list goes on. Every 
          interviewer goes through our selection process and 
          training program. When they connect with your family, 
          they're ready to go!
      .col-md-4
        h4 Will we have the same interviewer every month?
        p.
          Yes. That's the goal. We want them to get to know your 
          loved one over time. The only exception is if our 
          interviewer leaves the program or if you choose to 
          leave the program. Otherwise, they'll become a part of 
          the family.
    .row
      .col-md-4
        h4 What types of questions are asked?
        p.
          Our interviewers are equipped with all types of 
          questions. They ask about parents of your loved one, 
          hometown, childhood years, meeting their spouse, etc... 
          They also have a database of historic events that your 
          loved one may have lived through. And, most importantly, 
          family members are encouraged to ask questions, either on 
          the call or through the app.
      .col-md-4
        h4 How much does it cost?
        p.
          Our program starts at $30/month with discounts for 
          senior living communities. There are no contracts and 
          families can cancel at any time. In short, it's very 
          affordable.
      .col-md-4
        h4 Who has access to the site and calls?
        p.
          Only people who are invited can join the calls and view 
          the stories. It's all private. Family members have 
          complete control.
    .row
      .col-md-4
        h4 Can I add photos and videos to the site?
        p.
          Not yet! Over time, there will be a series of features 
          including 'do-it-yourself' recording, photos, video, etc.
      .col-md-4
        h4 Why can't families do this on their own?
        p.
          They can. But it's time consuming and rarely happens. 
          LifeChat makes it easy. We take care of all the 
          reminders, saving the calls, the interview, etc... The 
          family simply schedules the call and joins. For your 
          one, it's as easy as picking up the phone.