#footer
  .container
    .row-fluid
      .col-md-3
        ul
          lh STORYCALL
          li
            a(href="index.html") Home
          li
            a(href="howitworks.html") How It Works
          li
            a(href="pricing.html") Pricing
          li
            a(href="signup.html") Sign Up
          li
            a(href="signup.html#sectionFAQ") FAQ
      .col-md-6
        ul
          lh CONTACT US
          li.contact
            p
              | Have a question? We would love to hear from you! 
              include ../includes/wufoo-contactus
        </br>
        p We are proudly based out of <a href="http://www.atlantatechvillage.com">Atlanta Tech Village</a>.
        p.
          3423 Piedmont Rd NE, Suite 445B </br>
          Atlanta, GA 30305
        p &copy; 2014 StoryCall
      .col-md-3.footer-brand
        img(src="assets/grandma.png")