#footer
  .container
    .row-fluid
      .col-md-4
        ul
          li
            a(href="blog.html") BLOG
          li
            a(href="team.html") TEAM
          li
            a(href="contactus.html") CONTACT US
      .col-md-4
        p social media
        p subscribe to email list form