#footer
  .container
    .row-fluid
      .col-md-3
        ul
          lh LIFECHAT
          li
            a(href="index.html") Home
          li
            a(href="howitworks.html") How It Works
          li
            a(href="pricing.html") Pricing
          li
            a(href="signup.html") Sign Up
          li
            a(href="faq.html") FAQ
      .col-md-6
        ul
          lh CONTACT US
          li.
            text
          li.
            contact form


      .col-md-3.text-right
        img(src="assets/grandma.png")