head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href="assets/ico/favicon.ico")
    title StoryCall

    // Google Web Fonts
    link(href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet', type='text/css')

    // Mailchimp styles
    link(href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css", rel="stylesheet", type="text/css")

    // Custom styles for this template
    link(href='css/common.css', rel='stylesheet')

    // Font Awesome for Bootstrap
    link(href='css/font-awesome.min.css', rel='stylesheet')