.masthead.container
  .inner
    h3.masthead-brand LifeChat
    ul.nav.masthead-nav
      li.active
        a(href="#") HOME
      li
        a(href="#") HOW IT WORKS
      li
        a(href="#") PRICING
      li
        a(href="#") SIGNUP
      li
        a(href="#") LOGIN