.row.w-seniorliving
  .col-md-1
    i.fa.fa-home
  .col-md-11
    p.
      Are you part of a senior living community? We're helping 
      senior living residents across the country capture stories. 
      Contact us to hear more about how LifeChat can support your 
      residents and families.