doctype html
html(lang="en")
  include ../includes/header

  body

    .site-wrapper
      .site-wrapper-inner
        div.description
          h2 umenta <em>(you-men-tah)</em>: to add to <em>(language: Chamorro)</em>
          p.
            Umenta helps capture stories and connect families. 
            Whether it's the elders sharing stories of childhood 
            or grandchildren sharing their experiences on a 
            recent trip, Umenta makes it easy to save priceless 
            moments and build a family legacy.
          p Check out our offerings:
        .row-fluid
          .col-md-1
          .col-md-5
            a(href="http://www.storycall.us").storycall
              img(src="assets/grandma.jpg")
              h2 StoryCall
              p.
                A fun, simple way to get started and get the 
                family involved with preserving memories.
          .col-md-5
            a(href="http://www.umenta.com").legacy
              img(src="assets/u-400.jpg")
              h2 Legacy
              p.
                A custom product that integrates technology, 
                photos, stories and print to create your 
                priceless family heirlooms.
          .col-md-1